@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: blue;
}
p{
    margin: 1vw;
}
/* Header */
header .container-header{
    display: flex;
    margin: 1% 1% 0px 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 34vw;
    background-position: center;
    background-image: url(../img/marvel-dc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header .container-header h1, .container-header h2{
    position: absolute;
    text-align: center;
    background-color: blue;
    color: white;
    align-items: center;
}
header .container-header h2{
    font-size: 1.2em;
    margin-top: 10%;
    width: 35vh;
}
/* Manu Nav-bar */
header nav{
    position: sticky;
    margin: 0% 1% 1% 1%;
    height: 3em;
    bottom: 0em;
    padding: 1em;
    background-color: blueviolet;
}
header nav ul li{
    display: inline;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
.nav-item{
    float: right;
}

/* Main */
.main{
    display: flex;
    width: 100%;
}
.main .container-section{
    width: 60%;
    margin: 1%;
}
img{
    width: 100%;
    margin: 1% 0% 1% 0%;
}
.container-section, .container-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.container-aside{
    width: 37%;
    height: fit-content;
    margin-top: 1%;
}
.container-aside section{
    margin-bottom: 1%;
}
.miniaturas-marvel{
    margin-bottom: 1%;
}

section{
    background-color: white;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 2.5vw;
}
/* Fale Conosco */
.contact input[type="text"], 
.contact input[type="email"]{
    display: inline-block;
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.submit input[type="submit"] {
    margin: 5px 0;
    width: 25%;
    padding: 10px;
    font-size: 1vw;
    border-radius: 5px;
    background-color: #0da8e6;
    color: #fff;
    cursor: pointer;
}
/* Localização */
iframe{
    margin: 1% 0% 1% 0%;
}
/* Footer */
footer{
    background-color: black;
    text-align: center;
    align-items: center;
    color: white;
    height: 60px;
    margin: 1%;
}
footer p{
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

/* @media querys */
@media screen and (max-width: 800px){
    main{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main .container-section{
        width: 98%;
    }
    .main .container-aside{
        width: 98%;
        margin-left: 1%;
    }
}

@media screen and (max-width: 500px){
    .main .container-section{
        width: 98%;
    }
    .main .container-aside{
        width: 98%;
        margin-left: 1%;
    }
}